body {
  font-family: helvetica;
}

h1 {
  display: block;
  font-size: 300%;
  margin: 0.67em 0;
  font-weight: normal;
}

a {
  color: #2b5186;
  text-decoration: none;
}

.content {
  margin: 0 30px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
}

.col {
  min-width: 300px;
  flex: 1 1 0;
}

.pic {
  width: 360px;
  max-width: 100%;
}

li {
  margin: 9px 0;
}

@media (max-width: 700px) {
  .col {
    flex: 1 0 100%;
  }
}

@media (max-width: 480px) {
  .content {
    margin: 0 10px;
  }
}
